@import "variables";
html {
    font-size: 16px;
}

.tab-navigation {
    .au-link-list {
        display: flex;
    }

    a {
        display: inline-block;
        padding: 1rem 1rem;
        border-bottom: 5px solid #cfcfcf;
        &:hover,
        &:focus {
            text-decoration: underline;
            color: $AU-color-foreground-action;
        }
    }
    a.mainmenu--active {
        color: $AU-color-foreground-action;
        border-color: $AU-color-foreground-action;
    }
}
