.DS_Store
*.class
*.log
*.css
.classpath
.metadata
docker-context*
*/package-lock.json
*.lock
deploy/charts/kn/charts/
deploy/charts/connector-v1.0.0-prod/charts/
deploy/charts/connector-v0.0.57-dev/charts/
deploy/charts/connector-v0.0.57/charts/
ssl_certs
knowledge-network-prod-*.json

# sbt specific
.cache
.cache-main
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet
.settings
bin
.project

# IntelliJ specific
.idea

regions
snapshots
.cache-tests
node_modules/
dist/
kube

pancake
package-lock.json
*/package-lock.json
.env
*/.env
