tags:
  all: false
  apidocs-server: true
  admin-api: false
  authorization-api: true
  authorization-db: true
  cloud-sql-proxy: false
  combined-db: true
  content-api: true
  content-db: true
  correspondence-api: false
  elasticsearch: true
  gateway: true
  indexer: true
  preview-map: true
  registry-api: true
  registry-db: true
  search-api: true
  session-db: true
  minion-broken-link: false
  minion-linked-data-rating: false
  minion-visualization: false
  minion-format: true
  web-server: false
  ingress: false
  connectors: true
  test-chart: true
  kn-es-ingress: true
  kn-ingress: false
  kn-web-server: true

magda:
  gateway:
    routes:
      search:
        to: http://search-api/v0
      registry:
        to: http://registry-api-read-only/v0
      registry-auth:
        to: http://registry-api/v0
        auth: true
      auth:
        to: http://authorization-api/v0/public
        auth: true
      admin:
        to: http://admin-api/v0
        auth: true
      content:
        to: http://content-api/v0
      correspondence:
        to: http://correspondence-api/v0/public
      apidocs:
        to: http://apidocs-server/
        redirectTrailingSlash: true
      test-chart:
        to: http://test-chart

test-chart:
  service:
    type: ClusterIP
  vhost: |-
    server {
      listen 0.0.0.0:8080;
      default_type text/plain;
      location / {
        return 200 "This is a KN test-chart!";
      }
      location /test-api {
        return 200 "test api2 : This is a KN test-chart test api!";
      }
    }