global:
  externalUrlkn: staging-test.knowledgenet.co
  externalUrl: http://staging-test.knowledgenet.co
  # tlssecret: knco-tls-secret
  rollingUpdate:
    maxUnavailable: 1
  exposeNodePorts: false
 # All modules except web-server & gateway should use magda offical image
 # Here, if unspecified, the following default value will be used:
  image:
    repository: data61 # magda docker hub repo
    tag: 0.0.50-RC2  # This version will be increased when magda releases a new version
    pullPolicy: IfNotPresent
  noDbAuth: true
  useCloudSql: false
  useCombinedDb: true

## Tags allow for services to be turned on and off on the fly... e.g. if you don't need
## to send emails, turn the correspondence-api off
tags:
  ## "all" is a shortcut which turns on all services except minions.
  all: false

  ## General services. Note that if you are using combined-db, you need to set both
  ## combined-db and the databases that you are using (e.g. authorization-db) to true.
  ## You can find explanations of what each of these are below
  admin-api: false
  apidocs-server: false
  authorization-api: true
  authorization-db: true
  cloud-sql-proxy: false
  combined-db: true
  content-db: false
  content-api: false
  correspondence-api: false
  elasticsearch: true
  gateway: true
  indexer: true
  preview-map: true
  registry-api: true
  registry-db: true
  search-api: true
  session-db: true
  web-server: true
  connectors: true

  ## Whether to use an ingress, which is necessary for HTTPS and using the Google CDN with
  ## Google Kubernetes Engine. By default this is off, and access is provided to the cluster
  ## through a Kubernetes LoadBalancer service
  # ingress: false

  ## Minions, which listen to changes in the registry and add extra metadata
  minion-broken-link: false
  minion-linked-data-rating: false
  minion-visualization: false
  minion-format: true

  ## A extra test chart that is maintained outside magda project
  test-chart: true

  ## KN ingress should be disabled by default for local deployment
  kn-ingress: false
  kn-es-ingress: false

magda:
  gateway:
    image:
      repository: "gcr.io/knowledge-network-192205/staging/magda"
      tag: "0.0.50-RC2"
    enableAuthEndpoint: true
    service:
      type: LoadBalancer
    cors:
      credentials: true
      origin: true
    auth:
      facebookClientId: ""
      googleClientId: "1049152486192-egoid2mcksouu0cofe326hdb2asuvrc9.apps.googleusercontent.com"
      aafClientUri: "https://rapid.test.aaf.edu.au/jwt/authnrequest/research/7xVQiC5TJXrzzkljNmFeeg"
    resources:
      requests:
        cpu: 50m
        memory: 100Mi
      limits:
        cpu: 200m
        memory: 250Mi

  elasticsearch:
    client:
      replicas: 2
      heapSize: 900m
      resources:
        requests:
          cpu: 200m
          memory: 1500Mi
    data:
      heapSize: 3000m
      resources:
        limits:
          cpu: 800m
        requests:
          cpu: 800m
          memory: 5000Mi
  
  indexer:
    logLevel: INFO
    replicas: 1
    resources:
      requests:
        cpu: 200m
        memory: 5000Mi

  preview-map:
    resources:
      requests:
        cpu: 0
        memory: 0
      limits:
        cpu: 200m
        memory: 150Mi


  registry-api:
    #skipAuthorization: true
    logLevel: INFO
    requests:
      cpu: 500m
      memory: 3000Mi

  search-api:
    replicas: 2
    requests:
      cpu: 250m
      memory: 200Mi
    limits:
      cpu: 1000m
      memory: 1000m
    
  web-server:
    image:
      repository: "gcr.io/knowledge-network-192205/staging/magda"
      tag: "0.0.50-RC2"
    fallbackUrl: "https://data.gov.au"
    useLocalStyleSheet: true
    resources:
      requests:
        cpu: 0
        memory: 0
      limits:
        cpu: 200m
        memory: 150Mi

  authorization-api:
    resources:
      requests:
        cpu: 0
        memory: 0
      limits:
        cpu: 200m
        memory: 150Mi

  minion-linked-data-rating:
    resources:
      requests:
        cpu: 0
        memory: 0
      limits:
        cpu: 200m
        memory: 150Mi

  minion-broken-link:
    resources:
      requests:
        cpu: 0
        memory: 0
      limits:
        cpu: 200m
        memory: 150Mi

  minion-visualization:
    resources:
      requests:
        cpu: 0
        memory: 0
      limits:
        cpu: 200m
        memory: 300Mi

  connectors:
    includeCronJobs: true
    config:
      - image:
          name: magda-dap-connector
        id: dap
        name: CSIRO
        sourceUrl: https://data.csiro.au/dap/ws/v2/
        pageSize: 100
        schedule: 30 3 */3 * *
        ignoreHarvestSources: []

  