.home {
    margin-top: 120px;
    padding: 20px 20px;
}

.graph-stats-container {
    text-align: center;
}
.graph-stats {
    width: 200px !important;
    background-color: #fafafa !important;
    display: inline-block;
    color: #424949;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-right: 5px;
}
.graph-stats-number {
    font-size: 20px;
    font-weight: 600;
}
.graph-stats.organisations {
    width: 230px !important;
}

.well {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.text-left {
    text-align: left;
}

.img-rounded {
    border-radius: 6px;
}
.search-col {
    margin-top: 30px;
}
form {
    display: block;
    margin-top: 30px;
}
.search-bar {
    padding-top: 10px;
    padding-bottom: 10px;
}
.search-query {
    height: 50px;
}
.input-group {
    position: relative;
    display: table;
    border-collapse: separate;
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}
.input-group-btn {
    position: relative;
    font-size: 0;
    white-space: nowrap;
}
.input-group-btn .btn {
    width: 50px;
    height: 50px;
}
.glyphicon {
    margin-right: 5px;
}

.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: "Glyphicons Halflings";
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

.home hr {
    margin-top: 50px;
    margin-bottom: 50px;
}
